# Ignore data files
/data/index_list/cifar100/*
/data/ucfTrainTestlist/*
/data/UCF101/*
/results/*

# Exception (placeholder)
!/data/index_list/cifar100/placeholder.txt
!/data/ucfTrainTestlist/placeholder.txt
!/data/UCF101/placeholder.txt
!/results/placeholder.txt