# Ignore data files
/data/index_list/cifar100/*
/data/ucfTrainTestlist/*
/data/UTF101/*

# Exception (placeholder)
!/data/index_list/cifar100/placeholder.txt
!/data/ucfTrainTestlist/placeholder.txt
!/data/UTF101/placeholder.txt